%ul.list-unstyled
  - collection.order(:business_name).each do |resource|
    %li.food-source
      = link_to resource.business_name, resource

      .pull-right
        - if resource.healthy?
          .label.label-success Healthy
        - else
          .label.label-danger Unhealthy

        = link_to edit_food_source_path(resource), class: 'btn btn-default btn-xs' do
          %i.fa.fa-pencil

        = link_to resource, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
          %i.fa.fa-trash
