%section
  .col-md-12
    %h1.page-header
      Food Sources
      %span.pull-right
        = link_to 'Add a food source', new_resource_path, class: 'btn btn-primary'

    - if collection.empty?
      .alert.alert-info
        No food sources have been recorded

    - else
      .row
        .col-xs-12.col-md-6
          %h3.page-header Healthy
          = render 'food_source_list', collection: collection.where(healthy: true)

        .col-xs-12.col-md-6
          %h3.page-header Unhealthy
          = render 'food_source_list', collection: collection.where(healthy: false)